---
import LinkedInIcon from "../components/icons/LinkedIn.astro";
import MailIcon from "../components/icons/Mail.astro";
import Projects from "../components/Projects.astro";
import SocialPill from "../components/SocialPill.astro";
import Timeline from "../components/Timeline.astro";
import Layout from "../layouts/Layout.astro";
import AboutMe from "../components/AboutMe.astro";
import SectionContainer from "../components/SectionContainer.astro";

---

<Layout>
  <main class="w-full p-4 sm:w-4xl flex flex-col justify-center m-auto space-y-20">
    <section
      class="py-48 md:py-96 w-full mx-auto text-center space-y-5 lg:max-w-4xl md:max-w-2xl h-screen"
    >
      <h1 class="text-4xl font-bold">Isidro Perez Padilla</h1>
      <p class="text-2xl w-full">
        Soy un <span class="font-bold text-[var(--primary-color)]"
          >desarrollador web full-stack</span
        > con experiencia en la creación de aplicaciones web modernas y escalables.
      </p>
      <nav class="flex justify-center items-center gap-4 my-4">
        <SocialPill
          href="https://www.linkedin.com/in/isidro-perez-padilla-7978a4182/"
        >
          <LinkedInIcon class="size-4" />
          LinkedIn
        </SocialPill>
        <SocialPill href="mailto:isidroperezp@gmail.com">
          <MailIcon class="size-4" />
          Contactame
        </SocialPill>
      </nav>
    </section>

    <SectionContainer id="about-me">
      <AboutMe />
    </SectionContainer>

    <SectionContainer id="experience">
    
      <Timeline />
    </SectionContainer>

    <SectionContainer id="projects">
      
      <Projects />
    </SectionContainer>
  </main>
</Layout>
