---

---

<h2 class="text-3xl font-semibold mb-10">Sobre mi</h2>
<article class="flex flex-col md:flex-row gap-10 items-center">
  <div class="order-2 flex flex-col gap-4 w-full">
    <p class="text-wrap">
      ¡Hola!, me llamo Isidro y soy de Sevilla. Empecé a programar a los 19
      años, cuando comencé la FP Superior en Desarrollo de Aplicaciones Web.
      Durante esos años adquirí conocimientos en tecnologías como Java,
      JavaScript, HTML y CSS, y desde entonces he seguido aprendiendo de forma
      constante.
    </p>

    <p class="text-wrap">
      Actualmente desarrollo proyectos tanto para seguir aprendiendo como para
      clientes, como portfolios personales o páginas estáticas funcionales. Me
      gusta probar nuevas herramientas, he trabajdo con librerías y frameworks
      como React, Angular, Tailwind, Bootstrap y Spring Boot, además de
      lenguajes como TypeScript y PHP.
    </p>

    <p class="text-wrap">
      Tengo muchas ideas, imaginacion y ganas de crear. Busco una oportunidad
      que me motive, que supongan un reto en el que pueda aportar y aprender
      para seguir creciendo profesionalmente.
    </p>

    <p class="text-wrap">
      Si quieres saber mas de mi aqui tienes mi <a
        href="#"
        download="CV-Isidro.2025.pdf"
        class="font-black hover:text-[var(--primary-color)] ease-in-out transition-all duration-200"
        >CV</a
      > y <a href="mailto:isidroperezp@gmail.com" class="font-black hover:text-[var(--primary-color)] ease-in-out transition-all duration-200">mi contacto</a>.
    </p>
  </div>
  <img
    src="/foto-isidro.webp"
    alt="Isidro Perez"
    class="order-1 object-cover border-2 border-[var(--primary-color)] w-64 h-full p-1
            md:order-2
            lg:w-64 rounded-full"
    loading="lazy"
    width="128"
    height="128"
  />
</article>
